.container {
  height: 85vh;
  margin-top: 1rem;
}

.monthlyIncomeContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.monthlyIncomeContainer .input {
  margin-left: 0.5rem;
  margin-top: 0.5rem;
}

.input {
  padding: 0.8rem 1rem;
  border: 1px solid gray;
  border-radius: 10px;
  text-align: center;
}

.addIncomeBtn {
  padding: 0.5rem 1.3rem;
  border: 1px solid orange;
  background: orange;
  color: white;
  cursor: pointer;
  font-size: 1.1rem;
  border-radius: 10px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  box-shadow: 5px 10px 18px orange;
  transition: 500ms;
}

.addIncomeBtn:hover {
  background: white;
  color: orange;
  box-shadow: 5px 10px 18px #888;
}

.monthIncomeForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.monthDropDownList {
  padding: 0.5rem 1rem;
  border: 1px solid black;
  border-radius: 5px;

  margin-left: 0.5rem;
}

.incomeCard span {
  font-weight: 400;
}

.expenseContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.newExpenseForm {
  text-align: center;
  margin-top: 0.5rem;
}

.newExpenseForm label {
  margin-right: 0.5rem;
}

.addNewExpnBtn {
  background-color: orange;
  color: white;
  padding: 0.5rem 1.3rem;
  border: 1px solid orange;
  border-radius: 10px;
  font-size: 1.1rem;
  cursor: pointer;
  box-shadow: 5px 10px 18px orange;
  transition: 500ms;
  margin-top: 0.5rem;
}

.addNewExpnBtn:hover {
  background-color: white;
  color: orange;
  box-shadow: 5px 10px 18px #888;
}

.expenseCard {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  border: 1px solid gray;
  margin-bottom: 0.5rem;
  transition: 500ms;
}

.expenseCard:hover {
  scale: 1.1;
}

.expenseCard h3 span {
  font-weight: 500;
}

.expContainer {
  margin-top: 1rem;
  height: 15rem;
  padding: 0.5rem 1rem;
  padding-right: 0.8rem;
  width: 35%;
  overflow-x: hidden;
}

.deleteBtn {
  background: red;
  color: white;
  border: 1px solid red;
  border-radius: 10px;
  padding: 0.5rem 1.3rem;
  cursor: pointer;
  transition: 500ms;
  box-shadow: 5px 10px 18px red;
}

.deleteBtn:hover {
  background: white;
  color: red;
  box-shadow: 5px 10px 18px #888888;
}
