.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  flex-direction: column;
}

.signUpBtn {
  background: green;
  color: white;
  padding: 0.8rem 1rem;
  border: 1px solid green;
  border-radius: 10px;
  transition: 500ms;
  cursor: pointer;
  margin-top: 0.8rem;
  display: flex;
  align-items: center;
  box-shadow: 5px 10px 18px green;
}

.signUpBtn svg {
  fill: #fff;
  margin-right: 0.5rem;
}

.signUpBtn:hover {
  background: white;
  color: green;
  box-shadow: 5px 10px 18px #8888;
}

.signUpBtn:hover svg {
  fill: green;
}

.link {
  margin-top: 1rem;
  color: #36b6e9;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}
